<LiveLeaveWeb.Components.section>
  <div class="flex">
    <h2 class="flex-1 text-2xl bold">Members</h2>

    <a
      class="flex items-center hover:underline text-sky-600 fill-sky-600"
      href={Routes.static_path(@conn, "/members/new")}>
      <FontAwesome.LiveView.icon name="plus" type="solid" class="h-[14px] w-[14px] mr-1" />
      <span>Add new</span>
    </a>
  </div>
</LiveLeaveWeb.Components.section>